body{

    font-family: Arial, sans-serif;
    background:#f0f2f5;
    text-align:center;
    padding:40px;
    transition:0.3s;

}




.card{

    background:white;
    width:320px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);

}




h1{

    margin-bottom:15px;

}




input{


    width:100%;
    padding:10px;
    margin:5px 0;
    box-sizing:border-box;
    border-radius:5px;
    border:1px solid #ccc;

}




button{


    width:100%;
    padding:10px;
    background:#0095f6;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:0.2s;

}



button:hover{


    background:#0077c8;

}




.dark-btn{


    position:fixed;
    top:15px;
    right:15px;

    width:40px;
    height:40px;

    border-radius:50%;

    font-size:18px;

    background:white;
    color:black;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);

}




#errorLogin,
#errorRegistro,
#errorInventario,
#errorServicio,
#errorIncidencia{


    font-size:14px;
    margin:5px;


}










body.dark{


    background:#121212;
    color:white;

}





body.dark .card{


    background:#1e1e1e;
    color:white;

}





body.dark input{


    background:#2b2b2b;
    color:white;
    border:1px solid #555;

}





body.dark button{


    background:#333;
    color:white;

}




body.dark button:hover{


    background:#555;

}




body.dark .dark-btn{


    background:#333;
    color:white;

}